<h2>Eventos</h2>
<hr />

<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input
      type="text"
      style="height: 36px; border-radius: 5px; margin-right: 10px"
      placeholder="buscar"
    />
    <button type="button" class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Imagem</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opcoes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of evento">
      <td></td>
      <td>{{ item.imagemURL }}</td>
      <td>{{ item.tema }}</td>
      <td>{{ item.local }}</td>
      <td>{{ item.dataEvento }}</td>
      <td>{{ item.qtdPessoas }}</td>
      <td>{{ item.lote }}</td>
      <td></td>
    </tr>
  </tbody>
</table>
